
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}

body {
  font-family: "poppins", sans-serif;
}

/* navbaar css */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.left_navbaar {
  width: 23vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10rem;
  padding-top: 1.8rem;
  border: transparent;
  border-right: 2px solid rgba(128, 128, 128, 0.459);
}

.my_name {
  position: relative;
  background-color: white;
  padding: 0px 0.813rem 0.438rem 1.063rem;
}

.my_name h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  font-size: 2.2rem;
  letter-spacing: 0.18rem;
  background: -webkit-gradient(
    linear,
    left top, right top,
    from(red),
    color-stop(blue),
    color-stop(orange),
    color-stop(rgb(26, 132, 168)),
    to(rgb(157, 23, 180))
  );
  background: -o-linear-gradient(
    left,
    red,
    blue,
    orange,
    rgb(26, 132, 168),
    rgb(157, 23, 180)
  );
  background: linear-gradient(
    90deg,
    red,
    blue,
    orange,
    rgb(26, 132, 168),
    rgb(157, 23, 180)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-animation: anime 20s linear infinite;
          animation: anime 20s linear infinite;
  background-size: 300%;
}

@-webkit-keyframes anime {
  100% {
    background-position: 400%;
  }
}

@keyframes anime {
  100% {
    background-position: 400%;
  }
}

.my_name h1 span {
  font-size: 2.8rem;
}

.my_name::before {
  position: absolute;
  content: "";
  width: 1.313rem;
  height: 1.313rem;
  background-color: #ec1839;
  z-index: -1;
  bottom: -5px;
  left: -5px;
}

.my_name::after {
  position: absolute;
  content: "";
  width: 1.313rem;
  height: 1.313rem;
  background-color: #ec1839;
  z-index: -1;
  top: -5px;
  right: -5px;
}

.nav_item ul li {
  list-style: none;
  padding: 7px 10px;
  margin-top: 10px;
  font-weight: 600;
  border-radius: 10px;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.nav_item ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.the_li.clicked a {
  color: #ff0000;
}

.nav_item ul i {
  padding: 0px 10px;
}

.changecolor {
  color: orangered;
}

/* main css */
.main {
  height: 100vh;
  width: 77vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* home css start here  */

#mainbody {
  width: 95%;
  height: 31rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  scroll-behavior: smooth;
  margin: 5.625rem 1.563rem 0 1.563rem;
}

.maintext {
  height: 100vh;
  width: 55%;
  scroll-behavior: smooth;
  -ms-flex-negative: 2;
      flex-shrink: 2;
}

.maintext h3 {
  font-size: 1.6rem;
  line-height: 3rem;
}

.maintext h3 span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  font-size: 2.9rem;
  letter-spacing: 0.18rem;
  background: -webkit-gradient(
    linear,
    left top, right top,
    from(red),
    color-stop(blue),
    color-stop(orange),
    color-stop(rgb(26, 132, 168)),
    to(rgb(157, 23, 180))
  );
  background: -o-linear-gradient(
    left,
    red,
    blue,
    orange,
    rgb(26, 132, 168),
    rgb(157, 23, 180)
  );
  background: linear-gradient(
    90deg,
    red,
    blue,
    orange,
    rgb(26, 132, 168),
    rgb(157, 23, 180)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-animation: anime 20s linear infinite;
          animation: anime 20s linear infinite;
  background-size: 300%;
}

.maintext a {
  padding: 0.8rem 2rem;
  text-decoration: none;
  border-radius: 0.6rem;
  border: transparent;
  background-color: #ec1839;
  color: white;
  font-size: 1.3rem;
  margin-left: 0.625rem;
  letter-spacing: 2px;
  -webkit-transition: all 1.2s;
  -o-transition: all 1.2s;
  transition: all 1.2s;
  display: inline-block;
  position: relative;
  top: 2.6rem;
  opacity: 0.9;
}

.maintext a:hover {
  -webkit-transform: scale(1.04);
      -ms-transform: scale(1.04);
          transform: scale(1.04);
  opacity: 1;
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
}

.maintext p {
  padding-top: 1.5rem;
  font-size: 1.22rem;
}

/* image css  */
.mainimage {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 40%;
  position: relative;
  margin-left: 3rem;
  margin-top: 2rem;
  -webkit-animation: imageanni 2.4s infinite ease-in-out;
          animation: imageanni 2.4s infinite ease-in-out;
}

@-webkit-keyframes imageanni {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-2.5rem);
            transform: translateY(-2.5rem);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes imageanni {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-2.5rem);
            transform: translateY(-2.5rem);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.mainimage img {
  height: auto;
  max-width: 80%;
  border-radius: 0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: white 0px 0px 12px, red 0px 0px 12px;
          box-shadow: white 0px 0px 12px, red 0px 0px 12px;
  -webkit-filter: brightness(80%) contrast(105%) grayscale(20%);
          filter: brightness(80%) contrast(105%) grayscale(20%);
}

.mainimage::before {
  content: "";
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-top: 8px solid #ec1839;
  border-left: 8px solid #ec1839;
  z-index: -1;
  top: -5px;
  left: -7px;
}

.mainimage::after {
  content: "";
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-bottom: 8px solid #ec1839;
  border-right: 8px solid #ec1839;
  bottom: -9px;
  z-index: -1;
  right: 0.01rem;
  bottom: 2px;
  bottom: -8px;
}

/* project css start here  */
#projects {
  width: 95%;
  margin: 2.1rem 1.3rem;
}

#projects h2 {
  font-size: 3rem;
  position: relative;
}

#projects h2::before {
  content: "";
  position: absolute;
  height: 0.24rem;
  width: 4.5rem;
  background-color: #ec1839;
  top: 4.2rem;
}

#projects h2::after {
  content: "";
  position: absolute;
  height: 0.24rem;
  width: 2.5rem;
  background-color: blue;
  top: 4.65rem;
  left: 0px;
}

.portfolio_project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
}

.porfolio_img {
  width: 50%;
  -webkit-animation: fade-in linear forwards;
          animation: fade-in linear forwards;
  animation-timeline: view();
}

@-webkit-keyframes fade-in {
  from {
    scale: 0.8;
  }

  to {
    scale: 1;
  }
}

@keyframes fade-in {
  from {
    scale: 0.8;
  }

  to {
    scale: 1;
  }
}

.porfolio_img img {
  width: 93%;
  -webkit-filter: contrast(110%);
          filter: contrast(110%);
}

.portfolio_about {
  width: 50%;
  padding-left: 1.25rem;
}

.portfolio_about h3 {
  text-align: center;
  font-size: 2.2rem;
  position: relative;
}
.portfolio_about p{
  font-size: 1.1rem;
}

.portfolio_a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 0.5rem;
}

.portfolio_about a {
  text-align: center;
  text-decoration: none;
  background-color: #ec1839;
  font-size: 1.1rem;
  padding: 0.6rem 1.2rem;
  border-radius: 0.5rem;
  color: white;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.portfolio_about a:hover {
  -webkit-transform: scale(1.04);
      -ms-transform: scale(1.04);
          transform: scale(1.04);
}

#aboutme_section {
  margin: 1.8rem 1.3rem 0 1.3rem;
}

.aboutme_heading h2 {
  font-size: 3rem;
  position: relative;
}

.aboutme_heading h2 span {
  color: #095b85;
}

.aboutme_heading h2::before {
  content: "";
  position: absolute;
  height: 0.24rem;
  width: 4.5rem;
  background-color: #ec1839;
  top: 3.8rem;
}

.aboutme_heading h2::after {
  content: "";
  position: absolute;
  height: 0.24rem;
  width: 2.5rem;
  background-color: blue;
  top: 4.2rem;
  left: 0px;
}

.about_me {
  margin-top: 1.2rem;
  font-size: 1.4rem;
}
.about_me  h3{
  font-size: 1.7rem;
}

.aboutpara {
  margin-top: 1rem;
  font-size: 0.9rem;
}
.aboutpara p{
  font-size: 1.1rem;
}

.mydetails {
  width: 97%;
  margin: 50px 10px;
}
.info{
  -webkit-transition:  all  0.8s linear;
  -o-transition:  all  0.8s linear;
  transition:  all  0.8s linear;
}
.info p {
  font-size: 1.1rem;
}
.info:hover{
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2); 
}
.personal_information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}

/* scroller */
.skilldiv h2{
  font-size: 3rem;
  position: relative;
  margin: 3rem 1rem ;
}
.skilldiv  h2::before {
  content: "";
  position: absolute;
  height: 0.24rem;
  width: 4.5rem;
  background-color: #ec1839;
  top: 4.2rem;
}

.skilldiv  h2::after {
  content: "";
  position: absolute;
  height: 0.24rem;
  width: 2.5rem;
  background-color: blue;
  top: 4.65rem;
  left: 0px;
}
.keyskill{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px 30px;
  margin-top: 30px;
}
.skillimg{
  text-align: center;  
  padding: 5px 0;
  width: 12rem;
  -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -webkit-transition: all 0.8s linear;
  -o-transition: all 0.8s linear;
  transition: all 0.8s linear;
  cursor: pointer;
}
.skillimg p{
  font-size: 1.1rem;
  color: #095b85;
  font-weight: 600;
}
.skillimg:hover{
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2); 
}
.skillimg img{
  height: 5rem;
  width: auto;
  background-image: none;
}


/* persolinfo css */
.personalinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 5rem;
     -moz-column-gap: 5rem;
          column-gap: 5rem;
}

.info {
  text-align: center;
  -webkit-box-shadow: 0 0 5px 1px #3333;
          box-shadow: 0 0 5px 1px #3333;
  padding: 5px 15px;
  border-radius: 10px;
}

.info p:nth-child(1) {
  color: #0088cc;
  font-weight: 600;
}

.personalinfo > :nth-child(1),
.personalinfo > :nth-child(2) {
  padding: 5px 35px;
}

.one > :nth-child(1) {
  margin-left: 20px;
}

.one > :nth-child(2) {
  margin-left: 10px;
}

/* keyskill css */

/* get in touch section */
.getintouch h2 {
  font-size: 3rem;
  position: relative;
  margin: 3rem  1.3rem;
}

.getintouch h2 span {
  color: #095b85;
}

.getintouch h2::before {
  content: "";
  position: absolute;
  height: 0.24rem;
  width: 4.5rem;
  background-color: #ec1839;
  top: 3.8rem;
}

.getintouch h2::after {
  content: "";
  position: absolute;
  height: 0.24rem;
  width: 2.5rem;
  background-color: blue;
  top: 4.2rem;
  left: 0px;
}

/* from css here */
#form {
  width: 95%;
  margin: 1rem 1.3rem 0 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 10px;
}

#form a {
  text-decoration: none;
}
.getpara {
  font-size:1.9rem;
}
.contacttext p {
  color: #333;
  font-size: 1.1rem;
  width: 50%;
}

.mainto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px 10px 5px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.mailicon i {
  font-size: 1.5rem;
  padding: 5px 10px;
  background-color: rgba(128, 128, 128, 0.212);
  border-radius: 5px;
  color: black;
}

.mailtext {
  padding-left: 15px;
}

.mailtext p:first-child {
  color: #0c5d8f;
}

.contectform {
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
  background-color: #e9ecef;
  width: 41%;
}

.contectform h3 {
  padding-bottom: 15px;
  font-weight: 600;
}

.contectform form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contectform input {
  width: 100%;
  height: 38px;
  border-radius: 5px;
  border: none;
  background-color: white;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  margin-top: 10px;
}

.contectform input:focus {
  border: 2px solid rgba(0, 0, 255, 0.432);
  -webkit-box-shadow: 0 0 15px rgba(52, 152, 219, 0.7);
          box-shadow: 0 0 15px rgba(52, 152, 219, 0.7);
}

.contectform input::-webkit-input-placeholder {
  font-size: 1rem;
  padding-left: 7px;
}

.contectform input::-moz-placeholder {
  font-size: 1rem;
  padding-left: 7px;
}

.contectform input:-ms-input-placeholder {
  font-size: 1rem;
  padding-left: 7px;
}

.contectform input::-ms-input-placeholder {
  font-size: 1rem;
  padding-left: 7px;
}

.contectform input::placeholder {
  font-size: 1rem;
  padding-left: 7px;
}

.contectform textarea::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  padding-left: 7px;
  font-size: 1rem;
}

.contectform textarea::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  padding-left: 7px;
  font-size: 1rem;
}

.contectform textarea:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  padding-left: 7px;
  font-size: 1rem;
}

.contectform textarea::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  padding-left: 7px;
  font-size: 1rem;
}

.contectform textarea::placeholder {
  font-family: "Roboto", sans-serif;
  padding-left: 7px;
  font-size: 1rem;
}

.contectform textarea:focus {
  border: 2px solid rgba(0, 0, 255, 0.432);
  -webkit-box-shadow: 0 0 15px rgba(52, 152, 219, 0.7);
          box-shadow: 0 0 15px rgba(52, 152, 219, 0.7);
}

.contectform textarea {
  border-radius: 5px;
  background-color: white;
}

.contectform button {
  position: relative;
  left: 28%;
  color: white;
  font-size: 1rem;
  padding: 11px 10px;
  border-radius: 7px;
  border: none;
  background-color: #00a6fb;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

.contectform button:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 10px 1px 10px 0 rgba(0, 0, 0, 0.2),
    0 15px 22px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 10px 1px 10px 0 rgba(0, 0, 0, 0.2),
    0 15px 22px 0 rgba(0, 0, 0, 0.19);
}

/* footer css */
.footer {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footericon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  font-size: 35px;
}

.footericon i {
  color: black;
  -webkit-transition: all 1.3s;
  -o-transition: all 1.3s;
  transition: all 1.3s;
}

.footericon .fa-instagram:hover {
  color: rgba(255, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.footericon .fa-linkedin:hover {
  color: #0077b5;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.footericon .fa-twitter:hover {
  color: #1da1f2;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.footericon .fa-github:hover {
  color: rgba(0, 0, 0, 0.767);
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.footericon .fa-discord:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  color: #7289da;
}

.footericon .fa-telegram:hover {
  color: #0088cc;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.copyright p:nth-child(odd) {
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
}

.copyright p:nth-child(even) {
  color: red;
  font-size: 1rem;
  font-weight: 500;
}

.myform span {
  font-size: 0.8rem;
  color: #ec1839;
  margin-left: 1rem;
  opacity: 0;
}

@media only screen and (max-width: 1185px) {
  .keyskill {
    width: 50%;
  }
}

@media only screen and (max-width: 1150px) {
  .mainimage {
    max-height: 22rem;
  }
}

@media only screen and (max-width: 1055px) {
  .left_navbaar {
    max-width: 23vw;
  }

  .mainimage {
    max-height: 20rem;
  }

  .my_name {
    max-width: 90%;
    padding: 5px 15px 5px 20px;
  }

  .my_name h1,
  span {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 950px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .left_navbaar {
    width: 100%;
    height: 15vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border: none;
    padding: 0;
  }

  #mainbody {
    margin-top: 30px;
  }

  .my_name {
    margin: 2rem 0rem 2rem 2rem;
    padding: 0 0 3px 10px;
  }

  .main {
    width: 100%;
  }

  .nav_item ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .nav_item ul li {
    padding-right: 30px;
  }

  .nav_item ul i {
    display: none;
  }

  .contectform {
    width: 45%;
  }
}

@media only screen and (max-width: 830px) {
  .my_name {
    max-width: 100%;
  }

  .mainimage {
    max-height: 20rem;
  }

  .contectform {
    width: 50%;
  }

  .porfolio_img img {
    position: relative;
    left: -30px;
    top: 30px;
    height: 13rem;
    width: 19rem;
  }
}

@media only screen and (max-width: 768px) {
  .nav_item ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 100%;
    gap: 10px;
    top: 4rem;
    right: 1px;
    z-index: 2;
    padding: 50px 70px;
    height: 60%;
    background-color: #9eddff;
  }
  .nav_item {
    display: none;
  }
  .menu-toggle {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 50px;
    z-index: 2;
  }

  .contectform {
    width: 46%;
  }

  .menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background: #333;
  }

  .mainimage {
    max-height: 20rem;
  }

  .porfolio_img img {
    position: relative;
    left: -30px;
    top: 30px;
    height: 13rem;
    width: 19rem;
  }
}

@media only screen and (max-width: 730px) {
  #form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 3rem;
  }

  .contectform {
    width: 65%;
  }

  .contacttext {
    width: 70%;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 701px) {
  #projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .portfolio_project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    gap: 20px;
  }

  .porfolio_img img {
    height: 18rem;
    padding: 0px;
    margin: 0;
    position: relative;
    left: 55px;
    width: 28rem;
  }

  .portfolio_about {
    width: 100%;
    padding: 0;
    text-align: center;
  }
}

@media only screen and (max-width: 735px) {
  .my_name {
    max-width: 30rem;
  }

  .mainimage {
    max-height: 18rem;
  }
}

@media only screen and (max-width: 700px) {
  #mainbody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        /* -ms-flex-direction: column; */
  }

  .mainimage::before,
  .mainimage::after {
    display: none;
  }

  .maintext {
    width: 100%;
  }

  .mainimage {
    max-height: 40rem;
    max-width: 60%;
  }
  #projects {
    margin-top: 30rem;
  }
}
@media only screen and (max-width: 638px) {
  .mainimage {
    padding: 0;
    margin: 0;
    left: 30px;
    min-height: 35rem;
    min-width: 90%;
  }
}

@media only screen and (max-width: 550px) {
  .mainimage {
    left: 17px;
    min-height: 32rem;
  }
}

@media only screen and (max-width: 480px) {
  .my_name {
    position: relative;
    right: 20px;
  }

  .my_name h1 span {
    font-size: 2rem;
    font-weight: 800;
  }

  .left_navbaar {
    height: 4rem;
  }

  .mainto {
    width: 20rem;
  }
  .menu-toggle {
    position: absolute;
    right: 20px;
  }
  

  .mainimage {
    margin-right: 50px;
    margin-top: 30px;
    min-height: 10rem;
  }

  .maintext h3 span{
    font-size: 2.3rem;
  }
  .maintext p{
    font-size: 1.1rem;
  }
  .maintext {
    width: 100%;
    margin-left: -20px;
    max-height: 30rem;
  }
  .portfolio_about h3{
    font-size: 1.8rem;
  }

  .portfolio_project {
    margin-left: -15px;
    width: 100%;
  }

  #projects h2 {
    margin-left: -15px;
    font-size: 2.2rem;
  }

  #projects h2::before {
    top: 3.2rem;
  }

  #projects h2::after {
    top: 3.6rem;
  }

  .aboutme_heading h2::before {
    top: 2.8rem;
  }

  .aboutme_heading h2::after {
    top: 3.2rem;
  }

  .skilldiv h2::before {
    top: 3rem;
  }

  .skilldiv h2::after {
    top: 3.4rem;
  }

  .getintouch h2::before {
    top: 2.8rem;
  }

  .getintouch h2::after {
    top: 3.2rem;
  }

  .porfolio_img {
    width: 100%;
  }
  .personal_information {
    margin-left: -5px;
  }

  .porfolio_img img {
    width: 100%;
    left: 0px;
    height: 13rem;
  }
  
  .skillimg{
    height: 7.6rem;
    width: 11rem;
  }

  .aboutme_heading h2 {
    margin-left: -15px;
    font-size: 2.2rem;
  }

  .about_me h3 {
    margin-left: -15px;
    font-size: 1.3rem;
  }

  .aboutpara {
    margin-left: -15px;
  }

  .personalinfo {
    gap: 20px;
    margin-left: -17px;
  }

  .skilldiv h2 {
    margin-left: -5px;
    font-size: 2rem;
  }

  .tag-list li img {
    height: 2.5rem;
    width: auto;
  }

  .scroller_inner {
    gap: 0.5rem;
  }

  .scroller {
    height: 100px;
  }

  .getintouch {
    margin-left: -15px;
  }

  .getintouch h2 {
    font-size: 2.2rem;
  }

  .contacttext h2 {
    font-size: 1.5rem;
  }

  #form {
    width: 100%;
    margin-left: -40px;
  }

  .contectform {
    min-width: 88%;
    margin-left: 78px;
  }

  .footericon {
    font-size: 28px;
  }
}