@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
}

body {
    font-family: 'poppins', sans-serif;
}

/* navbaar css */

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.left_navbaar {
    width: 23vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
    padding-top: 1.8rem;
    border: transparent;
    border-right: 2px solid black;
}

.my_name {
    position: relative;
    background-color: white;
    padding: 0px 0.813rem 0.438rem 1.063rem;

}

.my_name h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    font-size: 1.6rem;
    letter-spacing: 0.18rem;
    background: linear-gradient(90deg, red, blue, orange, rgb(26, 132, 168), rgb(157, 23, 180));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: anime 20s linear infinite;
    background-size: 300%;
}

@keyframes anime {
    100% {
        background-position: 400%;
    }
}

.my_name h1 span {
    font-size: 2.3rem;
}

.my_name::before {
    position: absolute;
    content: "";
    width: 1.313rem;
    height: 1.313rem;
    background-color: #ec1839;
    z-index: -1;
    bottom: -5px;
    left: -5px;
}

.my_name::after {
    position: absolute;
    content: "";
    width: 1.313rem;
    height: 1.313rem;
    background-color: #ec1839;
    z-index: -1;
    top: -5px;
    right: -5px;
}

.nav_item ul li {
    list-style: none;
    padding: 7px 10px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 10px;
    transition: all 0.8s;
}

.nav_item ul li:hover {
    box-shadow: 10px 1px 10px 0 rgba(0, 0, 0, 0.2), 0 15px 22px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.02);
}

.nav_item ul li a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.nav_item ul i {
    padding: 0px 10px;
}

.changecolor {
    color: orangered;
}

/* main css */
.main {
    height: 100vh;
    width: 77vw;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* home css start here  */

#mainbody {
    margin: 5.625rem 1.563rem 1.25rem 1.563rem;
    width: 95%;
    display: flex;
    scroll-behavior: smooth;

}

.maintext {
    height: 100vh;
    width: 55%;
    scroll-behavior: smooth;
    flex-shrink: 2;
}

.maintext h3 {
    font-size: 1.3rem;
    line-height: 3rem;
}

.maintext h3 span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    font-size: 2.25rem;
    letter-spacing: 0.18rem;
    background: linear-gradient(90deg, red, blue, orange, rgb(26, 132, 168), rgb(157, 23, 180));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: anime 20s linear infinite;
    background-size: 300%;
}

.maintext a {
    padding: 0.6rem 1.5rem;
    text-decoration: none;
    border-radius: 0.6rem;
    border: transparent;
    background-color: #ec1839;
    color: white;
    font-size: 1rem;
    margin-left: 0.625rem;
    letter-spacing: 2px;
    transition: all 1.2s;
    display: inline-block;
    position: relative;
    top: 2.6rem;
    opacity: 0.9;
}

.maintext a:hover {
    transform: scale(1.04);
    opacity: 1;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
}

.maintext p {
    padding-top: 1.5rem;
}


/* image css  */
.mainimage {
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40%;
    position: relative;
    margin-left: 3rem;
    margin-top: 2rem;
    animation: imageanni 2.4s infinite ease-in-out;
}

@keyframes imageanni {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.5rem);
    }

    100% {
        transform: translateY(0);

    }
}

.mainimage img {
    height: auto;
    max-width: 80%;
    /* width: 14rem; */
    border-radius: 0.5rem;
    object-fit: cover;
    box-shadow: white 0px 0px 12px, red 0px 0px 12px;
    filter: brightness(80%) contrast(105%) grayscale(20%);
}

.mainimage::before {
    content: "";
    position: absolute;
    width: 4rem;
    height: 4rem;
    border-top: 8px solid #ec1839;
    border-left: 8px solid #ec1839;
    z-index: -1;
    top: -5px;
    left: -7px;
}

.mainimage::after {
    content: "";
    position: absolute;
    width: 4rem;
    height: 4rem;
    border-bottom: 8px solid #ec1839;
    border-right: 8px solid #ec1839;
    bottom: -9px;
    z-index: -1;
    right: 0.01rem;
    /* left: 13.6rem; */
    bottom: 2px;
    bottom: -8px;
}

/* project css start here  */
#projects {
    width: 95%;
    margin: 0px 1.3rem;
}

#projects h2 {
    font-size: 3rem;
    position: relative;
}

#projects h2::before {
    content: "";
    position: absolute;
    height: 0.24rem;
    width: 4.5rem;
    background-color: #ec1839;
    top: 4.2rem;
}

#projects h2::after {
    content: "";
    position: absolute;
    height: 0.24rem;
    width: 2.5rem;
    background-color: blue;
    top: 4.65rem;
    left: 0px;
}

.portfolio_project {
    display: flex;
    margin: 5rem 0 0 1rem;
}

.porfolio_img {
    width: 50%;
}

.porfolio_img img {
    width: 93%;
    filter: contrast(110%);
}

.portfolio_about {
    width: 50%;
    padding-left: 1.25rem;

}

.portfolio_about h1 {
    text-align: center;
    position: relative;
    margin-bottom: 1.25rem;
}

.portfolio_about h1::after {
    position: absolute;
    content: "";
    height: 0.438rem;
    width: 3.125rem;
    background-color: #ec1839;
    bottom: -5px;
    right: 10rem;
    border-radius: 0.625rem;
}

.portfolio_a {
    display: flex;
    justify-content: space-around;
    margin-top: 1.25rem
}

.portfolio_about a {
    text-align: center;
    text-decoration: none;
    background-color: #ec1839;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: white;
    transition: all 0.5s linear;

}

.portfolio_about a:hover {
    transform: scale(1.04);
}

#aboutme_section {
    margin: 1.8rem 1.3rem 0 1.3rem;
}

.aboutme_heading h2 {
    font-size: 3rem;
    position: relative;
}

.aboutme_heading h2::before {
    content: "";
    position: absolute;
    height: 0.24rem;
    width: 4.5rem;
    background-color: #ec1839;
    top: 3.8rem;
}

.aboutme_heading h2::after {
    content: "";
    position: absolute;
    height: 0.24rem;
    width: 2.5rem;
    background-color: blue;
    top: 4.2rem;
    left: 0px;
}

.about_me {
    margin-top: 2.2rem;
    font-size: 1.4rem;
}

.aboutpara {
    margin-top: 1rem;
    font-size: 0.9rem;
}


/* 
.deatails {
    margin: 2rem 1.3rem;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    background-color: #7289da;
}

.keyskill {
    gap: 25px;
    display: flex;
    border-right: 2px solid black;
    width: 50%;
}

.keyskill p {
    color: #ec1839;
    padding: 5px 2px;
    border-radius: 5px;
    transition: all 1s;
    cursor: pointer;
}

.keyskill p:hover {
    box-shadow: 10px 1px 10px 0 rgba(0, 0, 0, 0.2), 0 15px 22px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.02);
}

.keyskill span {
    color: black;
}

.skills{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    height: 100%;
    width: 50%;
}
.skills img{
    height: auto;
    width: 90px;
    transition: all 0.8s;
}
.skills img:hover{
    transform: scale(1.05);

}
.frontent{
    display: flex;
    justify-content: space-evenly;
}
.backend{
    display: flex;
    justify-content: space-evenly;
}

.btns{
    display: flex;    
    height: 200px;
    width: 50%;
    background-color: #0088cc;
    align-items: center;
    justify-content:space-around;
    border-right: 2px solid black;
}
.backend img:nth-child(1){
 width: 25%;
}
.backend img:nth-child(2){
    width: 40%;
    
}
.db{
    display: flex;
    justify-content: space-evenly;
}
.db img:nth-child(1){
    width: 60%;
}
.other{
display: flex;
justify-content: space-evenly;

}
.other img:nth-child(1){
    width: 30%;
}
.firstskill {
    display: grid;
    gap: 30px;  
}

.secondskill {
    display: grid;

    padding-left: 10px;
}
.red{
    background-color: #00a6fb;
    height: 100px;
}
.Brithday,
.Role,
.Degree {
    width: 13rem;
}

.downlodecv a{
    text-decoration: none;
    background-color: #ec1839;
    padding: 10px 10px;
    color: white;
    border-radius: 8px;
    z-index: 2;
}

.hireme a{
    text-decoration: none;
    background-color: #ec1839;
    padding: 10px 15px;
    color: white;
    border-radius: 8px;
    z-index: 2;
} */

.deatailsskill{
    height: 550px;
    width: 100%;
    margin: 20px;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);

}
.deatails{
    background-color:aqua;
    grid-row: 1/11;
    grid-column: 1/7;
}
.skillsimg{
    background-color: blueviolet;
    grid-row: 1/13;
    grid-column: 7/13;
}
.btns{
  background-color: #333;
  grid-row: 11/13;
  grid-column: 1/7;
  display: flex;    
  align-items: center;
  justify-content:space-around;
}
.skillsimg img{
    height: auto;
    width: 90px;
    transition: all 0.8s;
}
.downlodecv a{
    text-decoration: none;
    background-color: #ec1839;
    padding: 10px 10px;
    color: white;
    border-radius: 8px;
    z-index: 2;
}

.hireme a{
    text-decoration: none;
    background-color: #ec1839;
    padding: 10px 15px;
    color: white;
    border-radius: 8px;
    z-index: 2;
}














.getintouch h2{
    font-size: 3rem;
    position: relative;
    margin: 7rem 0  0 1.3rem;
}

.getintouch h2::before {
    content: "";
    position: absolute;
    height: 0.24rem;
    width: 4.5rem;
    background-color: #ec1839;
    top: 3.8rem;
}

.getintouch h2::after {
    content: "";
    position: absolute;
    height: 0.24rem;
    width: 2.5rem;
    background-color: blue;
    top: 4.2rem;
    left: 0px;
}

/* from css here */
#form {
    height: 500px;
    width: 95%;
    margin: 1rem 1.3rem 0 1.3rem;
    display: flex;
    align-items: center;
    justify-content:space-around;
    border-radius: 10px;
}

.contacttext p{
    font-size: 0.85rem;
    color:darkslategray;

}
.mainto{
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 5px;
    transition: all 1s;
    border-radius: 10px;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.mailicon i {
    font-size: 1.5rem;
    padding:  5px 10px;
    background-color:rgba(128, 128, 128, 0.212);
    border-radius: 5px;
}
.mailtext{
    padding-left: 15px;
}
.mailtext a{
    font-size: 0.94rem;
}
.contectform {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
    background-color: #e9ecef;
}
.contectform h3{
    padding-bottom: 15px;
    font-weight: 600;
}
.contectform form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contectform input {
    width: 18rem;
    height: 38px;
    border-radius: 5px;
    border: none;
    background-color: white;
    transition: all 0.8s;
}
.contectform input:focus{
    border: 2px solid rgba(0, 0, 255, 0.432);
    box-shadow: 0 0 15px rgba(52, 152, 219, 0.7); 
}
.contectform input::placeholder{
    font-size: 0.9rem;
    padding-left: 7px;
}
.contectform textarea::placeholder{
    font-family: 'Roboto', sans-serif;
    padding-left: 7px;
}

.contectform textarea:focus{
    border: 2px solid rgba(0, 0, 255, 0.432);
    box-shadow: 0 0 15px rgba(52, 152, 219, 0.7); 

}
.contectform textarea {
    border-radius: 5px;
    background-color: white;

}

.contectform button {
    position: relative;
    left: 28%;
    color: white;
    font-size: 0.9rem;
    padding:11px 10px;
    border-radius: 7px;
    border: none;
    background-color:#00a6fb;
    transition: all 2s;
}
.contectform button:hover{
    transform: scale(1.05);
    box-shadow: 10px 1px 10px 0 rgba(0, 0, 0, 0.2), 0 15px 22px 0 rgba(0, 0, 0, 0.19);

}



/* footer css */
.footer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footericon{
    display: flex;
    gap: 40px;
    font-size: 35px;
}
.footericon i{
    color: black;
    transition: all 1.3s;
}
.footericon .fa-instagram:hover{
    color: rgba(255, 0, 0, 0.5);
    transform: rotateX('120');
}
.footericon .fa-linkedin:hover{
    color: #0077B5;
    transform: scale(1.1);
}

.footericon .fa-twitter:hover{
    color: #1DA1F2;
    transform: scale(1.1);
}

.footericon .fa-github:hover{
    color:rgba(0, 0, 0, 0.767);
    transform: scale(1.1);
}
.footericon .fa-discord:hover{
    transform: scale(1.1);
    color:  #7289da;
}
.footericon .fa-telegram:hover{
    color: #0088cc;
    transform: scale(1.1);
}


.copyright p:nth-child(odd){
    font-size: 0.9rem;
    font-weight:600;
    text-align: center;
}
.copyright p:nth-child(even){
    color: red;
    font-size: 1.3rem;
    font-weight: 500;
}






@media only screen and (max-width: 1185px) {
  .keyskill{
width: 50%;
  }
}







@media only screen and (max-width: 1150px) {
    .mainimage {
        max-height: 22rem;
    }

}

@media only screen and (max-width:1055px) {
    .left_navbaar {
        max-width: 23vw;
    }

    .mainimage {
        max-height: 20rem;
    }

    .my_name {
        max-width: 90%;
        padding: 5px 15px 5px 20px;
    }

    .my_name h1,
    span {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width:950px) {
    .container {
        flex-direction: column;
    }

    .left_navbaar {
        width: 100%;
        height: 15vh;
        flex-direction: row;
        border: none;
        padding: 0;
    }

    .my_name {
        margin: 2rem 0rem 2rem 2rem;
        padding: 0 0 3px 10px;
    }

    .main {
        width: 100%;
    }

    .nav_item ul {
        display: flex;
    }

    .nav_item ul li {
        padding-left: 30px;
    }

    .nav_item ul i {
        display: none;
    }
}

@media only screen and (max-width:830px) {
    .my_name {
        max-width: 100%;
    }

    .mainimage {
        max-height: 20rem;
    }
}

@media only screen and (max-width:768px) {
    .nav_item ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        gap: 20px;
        top: 3rem;
        right: 10px;
        z-index: 2;
        padding: 50px 70px;
        height: 100%;
        background-color: antiquewhite;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 50px;
        z-index: 2;
    }

    .menu-toggle span {
        display: block;
        width: 25px;
        height: 3px;
        margin-bottom: 5px;
        position: relative;
        background: #333;
    }

    .mainimage {
        max-height: 20rem;
    }

}

@media only screen and (max-width:735px) {

    .my_name {
        max-width: 30rem;
    }

    .mainimage {
        max-height: 18rem;
    }


}

@media only screen and (max-width:700px) {
    #mainbody {
        display: flex;
        flex-direction: column;
    }

    .maintext {
        width: 100%;
    }

    .mainimage {
        max-height: 40rem;
        max-width: 60%;
        margin: auto;
    }

}


    .active a{
        color: orangered; 
      }
  
    .active i {
        color: orangered; 
      }
  





























@media only screen and (min-width: 481px) and (max-width: 768px)
/* tablet */
    {}


@media only screen and (min-width: 769px) and (max-width:
    /* mediam size device */
    1024px) {}

@media only screen and (min-width: 1025px) {
    /* desktop    */


}

